<!-- NEWS -->
<main class="animated slideInDown">

    <!-- NASTAVNI PLAN -->
    <section class="py-26 bg-gray-700 overflow-hidden">
        <div class="container mx-auto pb-64 mt-14">
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
                    <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"><i class="fas fa-graduation-cap text-xl"></i></div>
                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-500">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-white text-xs font-bold mb-2" for="full-name">Nastavni kolegij</label>
                            <input id="curriculum-search" type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Npr. Standardi u primjeni internetske tehnologije" style="transition: all 0.15s ease 0s;">
                        </div>
                    </p>                    
                </div>
                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
                    <table id="curriculum-table" class="table-fill">
                        <thead>
                        <tr>
                        <th class="text-left">Kolegij</th>
                        <th class="text-left">ECTS</th>
                        <th class="text-left">Sati</th>
                        <th class="text-left">P</th>
                        <th class="text-left">V</th>
                        <th class="text-left">Tip</th>
                        <th class="text-left"></th>
                        </tr>
                        </thead>
                        <tbody id="cTable-body" class="table-hover">
                      
                        </tbody>
                        <tfoot>
                            <tr>
                              <td>Ukupno</td>
                              <td><spna id="totalECTS">0</spna></td>
                              <td><spna id="totalHours">0</spna></td>
                              <td colspan="4"></td>
                            </tr>
                          </tfoot>
                        </table>
                    <i id="curriculum-icon" class="fas fa-chalkboard-teacher text-gray-800" style="font-size: 55em; position: absolute; top: -150px; right: -100%; left: auto; opacity: 0.8;"></i> 
                </div>
            </div>
        </div>
    </section>
    <!-- // -->

</main>
<!-- /NEWS -->