<!-- PODNOŽJE -->
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title text-algebra:color" id="modal-1-title">
            <i class="fas fa-envelope text-algebra:color"></i> Kontakt
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
			<p>
                Nemojte se ustručavati poslati na poruku. Veselimo se Vašim pitanjima.
              </p>
			<div class="relative w-full mb-3 mt-8">
				<label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="puno-ime">Puno ime:</label>
				<input id="puno-ime" type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="npr. Pero Perić" style="transition: all 0.15s ease 0s;" required>
			</div>
			<div class="relative w-full mb-3 mt-2">
				<label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="email">E-mail:</label>
				<input id="email" type="email" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="npr. pero.peric@localhost.hr" style="transition: all 0.15s ease 0s;" required>
			</div>
			<div class="relative w-full mb-3 mt-2">
				<label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="vaznost-poruka">Važnost poruka:</label>
				<select id="vaznost-poruka" style="transition: all 0.15s ease 0s;" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full">
					<option value="Visoka">Visoka</option>
					<option value="Niska">Niska</option>
				</select>
			</div>
			<div class="relative w-full mb-3 mt-2">
				<label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="vasa-poruka">Vaša poruka:</label>
				<textarea id="vasa-poruka" type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="npr. Vaša poruka" style="transition: all 0.15s ease 0s;" required></textarea>
			</div>
			<div class="relative w-full mb-3 mt-2">
				<label class="inline-flex items-center cursor-pointer">
					<input id="primaj-newsletter" type="checkbox" class="form-checkbox text-gray-800 ml-1 w-5 h-5" style="transition: all 0.15s ease 0s;">
					<span class="ml-2 text-sm font-semibold text-gray-700">Primaj newsletter:</span>
				</label>
			</div>
        </main>
        <footer class="modal__footer">
          <button id="create_contact" class="modal__btn modal__btn-primary">Pošalji</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Odustani</button>
        </footer>
      </div>
    </div>
</div>
<!-- // -->
  
<!-- PODNOŽJE -->
<footer class="relative bg-gray-300 pt-8 pb-6">
	<!-- DODATAK -->
	<div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
		  <svg
			class="absolute bottom-0 overflow-hidden"
			xmlns="http://www.w3.org/2000/svg"
			preserveAspectRatio="none"
			version="1.1"
			viewBox="0 0 2560 100"
			x="0"
			y="0"
		  >
			<polygon
			  class="text-gray-300 fill-current"
			  points="2560 0 2560 100 0 100"
			></polygon>
		  </svg>
	</div>
	<!-- // -->

	<!-- FOOTER DIO-->
	<div class="container mx-auto px-4">
		<div class="flex flex-wrap">
			
			<!-- SOCIAL -->
			<div class="w-full lg:w-6/12 px-4">
			  <h4 class="text-3xl font-semibold">Ostanimo u kontaktu!</h4>
			  <h5 class="text-lg mt-0 mb-2 text-gray-700">
				Pronađite nas na bilo kojoj od ovih platforma te pratite sva događanja u skolu Algebre.
			  </h5>
			  <div class="mt-6">
				<a
				  href="https://www.facebook.com/racunarstvo"
				  target="_blank"
				  class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 btn-pd-social"
				  type="button"><i class="fab fa-facebook-square"></i></a>
				<a
				  href="https://www.youtube.com/user/ucilistealgebra"
				  target="_blank"
				  class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 btn-pd-social"
				  type="button"><i class="fab fa-youtube"></i></a>
				<a
				  href="https://github.com/Darwin0id"
				  target="_blank"
				  class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 btn-pd-social"
				  type="button"><i class="fab fa-github"></i></a>
			  </div>
			</div>
			<!-- // -->

			<!-- LINKOVI -->
			<div class="w-full lg:w-6/12 px-4 algebra:links">
			  <div class="flex flex-wrap items-top mb-6">
				<div class="w-full lg:w-4/12 px-4 ml-auto">
				  <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Stranica</span>
				  <ul class="list-unstyled">
					<li>
					  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#!/about" data-navigo>O nama</a>
					</li>
					<li>
						<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#!/news" data-navigo>Novosti</a>
					</li>
					<li>
						<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#!/curriculum" data-navigo>Nastavni plan</a>
					</li>
					<li>
						<a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#!/contact" data-navigo>Kontakt</a>
					</li>
				  </ul>
				</div>
				<div class="w-full lg:w-4/12 px-4">
				  <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Novosti</span>
				  <ul class="list-unstyled" id="listOfNews">
					<!-- TU SE APPENDAJU NOVOSTI -->
				  </ul>
				</div>
			  </div>
			</div>
			<!-- // -->
		  </div>

		  <hr class="my-6 border-gray-400" />

		  <!-- PRAVA PRIDRŽANA-->
		  <div class="flex flex-wrap items-center md:justify-between justify-center">
			<div class="w-full md:w-4/12 px-4 mx-auto text-center">
			  <div class="text-sm text-gray-600 font-semibold py-1">
				Copyright © 2020 |
				<a href="https://matijakolaric.from.hr" target="_blank" class="text-gray-600 hover:text-gray-900">Kolarić Matija</a>.
			  </div>
			</div>
		  </div>
		  <!-- // -->
		</div>
	  </footer>
	<!-- /PODNOŽJE -->