<!-- ZAGLAVLJE -->
<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg navbar-sticky animated fadeIn delay-1s">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <!-- LOGO -->
      <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="#!/home" data-navigo>
        <img src="resources/images/logo/algebra.png" class="shadow-lg max-w-full mx-auto" style="max-width: 60px;">
      </a>
      <!-- // -->

      <!-- BUTTON: OTKRIJ NAVBAR -->
      <button
        id="algebraNavbar"
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button">
        <i class="text-white fas fa-bars"></i>
      </button>
      <!-- // -->
    </div>

    <!-- SADRŽAJ -->
    <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden" id="collapse-navbar">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        
        <!-- 🏠 POČETNA -->
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold navbar-link text-pink:color" 
              href="#!/home" data-navigo>
            <i class="lg:text-gray-300 text-gray-500 fas fa-home text-lg leading-lg mr-2"></i>Početna
          </a>
        </li>
        <!-- // -->

        <!-- 🏫 O NAMA -->
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold navbar-link" 
             href="#!/about" data-navigo>
             <i class="lg:text-gray-300 text-gray-500 fas fa-building text-lg leading-lg mr-2"></i>O nama
          </a>
        </li>
        <!-- // -->

        <!-- 📰 NOVOSTI -->
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold navbar-link" 
             href="#!/news" data-navigo>
             <i class="lg:text-gray-300 text-gray-500 fas fa-newspaper text-lg leading-lg mr-2"></i>Novosti
          </a>
        </li>
        <!-- // -->

        <!-- 📅 NASTAVNI PLAN -->
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold navbar-link" 
             href="#!/curriculum" data-navigo>
             <i class="lg:text-gray-300 text-gray-500 fas fa-graduation-cap text-lg leading-lg mr-2"></i>Nastavni plan
          </a>
        </li>
        <!-- // -->
      
        <!-- ✉️ KONTAKT -->
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold navbar-link" 
             href="#!/contact" data-navigo>
             <i class="lg:text-gray-300 text-gray-500 fas fa-envelope text-lg leading-lg mr-2"></i>Kontakt
          </a>
        </li>
        <!-- // -->
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <button
            class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
            type="button"
            style="transition: all 0.15s ease 0s;"
          >
            <i class="fas fa-user"></i> Prijava
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /ZAGAVLJE -->
