<!-- NEWS -->
<main class="animated slideInDown">

    <!-- UVOD -->
    <section class="relative pt-16 pb-32 flex content-center items-center justify-center overflow-hidden">
        
        <!-- SLIKA NOVOSTI -->
        <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("resources/images/promo/header-algebra.png");'>
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <!-- // -->

        <!-- SEKCIJA NOVOSTI -->
        <div class="container mt-10 relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
                    <div>
                        <h2 class="text-white font-semibold text-5xl"><span class="text-algebra:color">A</span>LGEBRA NOVOSTI</h2>
                        <p class="mt-4 text-lg text-gray-300">
                          Budite u koraku sa novostima i prednostima koje nudi Algrebra d.o.o.
                        </p>
                    </div>
                </div>
            </div>
            <div class="justify-center flex flex-wrap mt-24">
                <div class="w-full lg:w-12/12 ml-auto block px-4">
                    <div id="appendNews" class="flex flex-wrap">
                      <!-- DIV WITH NEWS -->
                    </div>
                </div>
            </div>
 
        </div>
        <!-- // -->


    </section>
    <!-- // -->

    <!-- PRIKAŽI NOVOSTI -->
    <section class="block relative z-1 bg-black">
       
    </section>
    <!-- // -->

</main>
<!-- /NEWS -->